@charset "UTF-8";
*{margin: 0 ; padding: 0; font-family: Arial;}
ul,li,ol{list-style: none;}
a{text-decoration: none;color: #333;}
*{font-family:"Hannari" ;}

#slider{position: relative; width: 1903px; height: 937px ;margin: 0 auto; 
    background-color: aqua; box-sizing: border-box;overflow: hidden;}
    video{position: absolute;top:0; left: 0; width: 100%; }

        #slider #sec{display: flex;flex-direction: row; justify-content: space-between;
        align-items: baseline; position:absolute; top:0; left: 0; width: 100%;  height: 100%;}
                #slider #sec > div{position: absolute; }
                #slider #sec .lsl .social{width: 32px; height: 200px;  position: absolute;margin-top: 170px;margin-left: 20px; position: fixed;}
                #slider #sec .lsl .social p:hover{opacity: 1; transform: scale(105%); cursor: pointer;}
                #slider #sec .lsl{width: 60px; height:937px;}
                #slider #sec .msl{width: 700px; height: 300px; top:150px; left: 200px;}
                        #slider #sec .msl h3{ font-size: 24px; color: rgb(255, 255, 255);font-family:"Hannari";}
                        #slider #sec .msl h3:hover{color:red; transform: scale(105%);}
                        #slider #sec .msl h1{text-shadow:2PX 1PX 2PX #a8a5a1; font-size: 48px; color: rgb(255, 255, 255);font-family:"Arial";}
                        #slider #sec .msl h1:hover{color:red; transform: scale(105%);}
                #slider #sec .rsl{overflow: auto; position: absolute; display: flex; flex-direction: column;
                        width: 300px; height:800px; right:0 ;bottom: 0;}
                #slider #sec .rsl::-webkit-scrollbar {width: 10px;}
                #slider #sec .rsl::-webkit-scrollbar-thumb {background-color: white;
                        background-clip:padding-box;
                        border: 2px solid transparent;
                        border-top-left-radius: 50px;
                        border-bottom-right-radius: 50px;}

                #slider #sec .rsl .box{position: relative; box-sizing: border-box;overflow: hidden; width: auto; height: 150px; margin: 9px; 
                        border: 2px solid 0;border-radius: 8px;}
                #slider #sec .rsl .box> h2{position: absolute; top:8px;right: 22px; font-size: 24px;
                        color: white; text-shadow:1px 0 1PX #f19898;}
                #slider #sec .rsl .box> a{position: absolute; bottom:5px;right: 12px;}
                #slider #sec .rsl .box img, h2{opacity: 0.7; max-width: 100%; width: auto; height: auto;}
                #slider #sec .rsl .box :hover{opacity: 1; transform: scale(105%); cursor: pointer; color: red;}
        

                #slider #syousai{width: 1200px; height: 500px; box-sizing:border-box;position: absolute; 
                        top:50%; left: 50%;transform: translate(-50%,-10%);}
                #slider .naiyou{display: none; overflow: auto; width: 100%; height: 500px; box-sizing: border-box;}
                #slider .naiyou::-webkit-scrollbar {width: 20px;}
                #slider .naiyou::-webkit-scrollbar-thumb {background-color: yellow;
                        background-clip:padding-box;
                        border: 4px solid transparent;
                        border-top-left-radius: 50px;
                        border-bottom-right-radius: 50px;}

                #slider .naiyou .corse{z-index: 2; border-radius: 0; background-color: rgb(177, 180, 182); display: flex; justify-content: space-around;align-items: center; width: 100%; height:60px; 
                        margin: 0 auto; flex-wrap: wrap; position: sticky; top:0}
                .naiyou .corse .corsetitle{text-shadow:2PX 1PX 2PX #dfdad2; padding: 0 0 24px 0; width: 320px; height: 44px; font-size: 38px; text-align: center;
                        border-radius: 8px;font-weight: bolder; color:#1d5f82;}
                #slider .naiyou .corse button {box-shadow: 1px 1px 2px #333; margin: 0 0 7px 0; text-shadow:1PX 1PX 1PX white; padding: 0 0 6px 0; width: 200px; height: 50px; font-size: 26px;
                        background-color: white;border: 0;border-radius: 8px;font-weight: bolder;color:#a8a5a1;}
                #slider .naiyou .corse button:hover{background-color: red; transform: scale(102%); cursor: pointer; color: white;}
                #slider .naiyou .corse .po3 {width: 60px; background-color: cadetblue;font-size: 18px; }
                #slider .naiyou .corse .po3:hover{transform: scale(102%); cursor: pointer; color:white;}
                #slider .naiyou .kosusenntaku{opacity: 0.9; border-radius: 10px; width: 100% ;height: 440px; background-color: #1d5f82;}
                #slider .naiyou .kosusenntaku h2{color: white; margin:5px 0 5px 70px;}
                #slider .naiyou .puran{border-radius: 10px; display: flex;justify-content: space-between;align-items: center; width: 1150px; height:50px; 
                        background-color: rgb(120, 145, 145);margin: 0 auto; padding: 0px; font-size: 22px;font-weight: 
                        bolder;color: rgb(196, 214, 220) } 
                #slider .naiyou .puran:hover{color: red;}                
                
                #slider .naiyou .puran span{margin: 0 0 0 20px;} 
                #slider .naiyou .puran .senntaku{width: 50px; margin: 0 0 10px 0; }
                #slider .naiyou .puran .senntaku:hover{transform: scale(105%); cursor: pointer; }
                #slider .naiyou .puran button{padding: 0 0 5px 0; box-shadow: 1px 1px 2px #333; margin: 0 60px 0 0; width: 60px;background-color: rgb(177, 180, 182);text-align: center;
                        border: 0; border-radius: 8px; font-size: 18px; font-weight: bold;color: white;}           
                #slider .naiyou .puran button:hover{background-color: red; transform: scale(102%); cursor: pointer; color:white;}
                
                #slider .naiyou .pyo{display: flex;justify-content: space-between;align-content: center; width: 1150px; height:120px; 
                        flex-wrap: wrap;margin: 0px auto; padding: 0px; font-size: 26px;font-weight: bolder;color: #1d5f82;}                 
                #slider .naiyou .pyo p{margin: 4px; width: 210px; height: 30px; text-align:center;font-size: 16px;
                                background-color: white;border: 0;border-radius: 6px;font-weight: bolder; color: #1d5f82;}
                #slider .naiyou .pyo .line1{flex-grow: 8;}
                #slider .naiyou .pyo .price{color: red;}
                #slider .naiyou .pyo .button:hover{color: red; cursor:pointer;}
                #slider .hibi input{margin-top: 20px; border-radius: 4px;}
                #slider .hibi input:hover{cursor: pointer; transform: scale(102%);}
                #slider .hibi span{margin: 0 3px 0 32px;color:white;font-weight: bold;}
                #slider .hibi span:hover{color: red; transform: scale(105%); cursor: pointer;}
                 
                #slider .naiyou .jouhou{opacity: 0.9; border-radius: 10px; width: 100%;height: 1160px; background-color: rgb(193, 80, 96)}
                #slider .naiyou .jouhou h2{color: white; margin:5px 0 5px 70px;}
                #slider .naiyou .jouhou .pyo_1{margin:5px 0 5px 28px;}
                #slider .naiyou .jouhou .pyo_1 img{border-radius: 6px; box-shadow: 3px 0 2px #333;}
                #slider .naiyou .jouhou .tuasyoukai{display: flex;align-items: center; width: 1080px; height:130px; text-align: justify;
                        background-color: rgb(255, 255, 255);margin: 0 auto; padding: 0 20px 0 20px; font-size: 18px;color: #1d5f82; 
                        border-radius: 6px; font-family:hannari ; font-weight: bold;}
                #slider .naiyou .jouhou .nitei table{vertical-align:middle; margin: 0 0 0 28px; font-size: 18px; color: #1d5f82;}
                #slider .naiyou .jouhou .nitei th{background-color: white; width: 200px; height: 30px; border-radius: 3px;}
                #slider .naiyou .jouhou .nitei td{font-weight: bold; background-color: white; width: 600px; padding: 0 0 0 20px; border-radius: 3px;}

                #slider .naiyou .jouhou .aksesu table{margin: 0 0 0 28px; font-size: 18px; color: #1d5f82;}
                #slider .naiyou .jouhou .aksesu th{color: #1d5f82; background-color: #ffffff; width: 200px; height: 30px; border-radius: 3px;}
                #slider .naiyou .jouhou .aksesu td{font-weight: bold; background-color: white; width: 600px; padding: 0 0 0 20px; border-radius: 3px;}

                #slider .naiyou .jouhou .tyuijikou{display: flex;align-items: center; width: 1080px; height:130px; text-align: left;
                        background-color: white;margin: 0 auto; padding: 0 20px 0 20px; font-size: 18px;color: rgb(255, 0, 0); 
                        border-radius: 6px; font-weight: lighter;}
                
                #slider .naiyou .jouhou .cxl{display: flex;align-items: center; width: 1080px; height:130px; text-align: left;
                                background-color:white;margin: 0 auto; padding: 0 20px 0 20px; font-size: 18px;color: rgb(255, 0, 0); 
                                border-radius: 6px; font-weight: lighter;}

                #slider .naiyou .leview{opacity: 0.9; color: #1d5f82; font-size: 22px; border-radius: 10px; width: 100% ;height: 440px; background-color: blanchedalmond;}
                #slider .naiyou .leview h2,h4{margin:5px 0 5px 70px;}
                #slider .naiyou .view{display: flex;align-items: center; width: 1100px; height:130px; text-align: center;
                        background-color: rgb(255, 255, 255);margin: 0 auto; padding: 0 20px 0 20px; font-size: 18px; 
                        border-radius: 6px; font-weight: bold;}
      
               